.container {
  width: 100%;
  padding: 40px;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

.cardapio-lista {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.item {
  background: white;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.item:hover {
  transform: scale(1.05);
}

.item img {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  object-fit: cover;
}

.item p {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}
