.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 6px black;
  padding-top: 80px;
}

.title {
  font-size: 70px;
  font-weight: 900;
}

.subtitle {
  font-size: 28px;
  margin-bottom: 40px;
  font-weight: 600;
}

.btnReserva {
  background-color: #b5371a;
  color: white;
  padding: 18px 40px;
  font-size: 22px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btnReserva:hover {
  opacity: 0.85;
}
