

.header {
  width: 100%;
  background-color: #002b80;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.title {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
}

.nav a:hover {
  text-decoration: underline;
}
.logo {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.left {
  display: flex;
  align-items: center;
}
