body {
  margin: 0;
  font-family: Arial;
  background: #e6e6e6;
}

/* container padrão */
.container {
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

/* formulários */
.formulario input {
  width: 100%;
  padding: 10px;
  margin: 6px 0 14px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

button {
  width: 100%;
  padding: 12px;
  background: #0033cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0022aa;
}

/* header */
.header {
  background: #000f7a;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.footer {
  background: #000f7a;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 25px;
}
app.css

.cardapio-lista {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.cardapio-img {
  display: flex;
  max-width: 1000%;
  height: auto;
  border-radius: 10px;
}

